body{
    background-image: url("/public/img/fondo.jpg");
    background-size: cover;
}
.bg-card{
    background: #DE48B4;
    border-radius: 27px;
}
.bg-card-2{
    background: linear-gradient(2.8deg, rgba(255, 255, 255, 0) 0.80%, #DE48B4 50%);
    border-radius: 27px;
}
.bg-violeta{
    background: #766BE8;
}
.profile-image{
    width: 200px;
}