@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lilita+One&display=swap');

#h-menu{
   font-size: 2rem;
   font-family: 'Lilita One', cursive;
}

#h-menu{
    cursor: pointer;
 }