body {
    background-color: #DE48B4;
}

.bg-svg {
    position: absolute;
}

.user-data,
.user-stats {
    padding: 1rem;
    background-color: #756be8;
    width: 90vw;
    margin: auto;
    border-radius: 65px;
}

.user-data img {
    width: 15rem;
    height: 13rem;
    border: 0.3rem solid black;
    border-radius: 65px;
    z-index: 2;
}

.user-data p,
.user-data h3 {
    color: white;
}

.btn-custom-profile {
    position: relative;
    width: 9em;
    height: 9em;
    background-color: rgba(255, 255, 255, 0.808);
    font-weight: bold;
    border-radius: 50px;
    border: 0.3rem solid rgba(31, 31, 31, 0.808);
}

.btn-custom-profile p,
.btn-custom-profile i {
    color: #00B9AE;
}

.btn-custom-profile i {
    font-size: 4.5rem;
}

.btn-custom-profile:hover {
    background-color: rgba(219, 219, 219, 0.808);
    border: 0.3rem solid rgba(31, 31, 31, 0.808);
    cursor: pointer;
}

.stats-container-header {
    background-color: #6742FA;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.stats-container {
    background-color: #ffffff65;
    height: fit-content;
    border-radius: 50px;
    padding: 0px;
    width: 40vw;
}

.category{
    background-color: #fff;
    border-radius: 50px;
    width: 80%;
}

.user-stats-categories{
    align-items: center;
}

.stat-icon{
    font-size: 1.5rem;
}

.text-green{
    color: rgb(2, 170, 30);
}

.text-orange{
    color: orange;
}

.text-blue{
    color: rgb(96, 46, 212);
}

.user-stats iframe{
    border-radius: 40px;
}